<h1 class="text-center my-5"> Edit User</h1>
<div class="two  d-grid gap-2 col-6 mx-auto">
  <form method="get" action="">

    <label>Name</label><br>
    <input type="text" id="one"><br>



    <label>Age</label><br>
    <input type="number" id="one"><br>



    <label>Email</label><br>
    <input type="email" id="one"><br>

    <label>Address</label><br>
    <input type="text" id="one"><br>


    <label>Password</label><br>
    <input type="Password" id="one"><br>

  </form><br>
  <!-- <input type="button" class="btn btn-primary px-5 " value="Submit"> -->
  <button class="btn btn-primary px-5 " value="Submit"><a [routerLink]="['/']">Submit</a></button>
</div>