<div class="container">
  <div class="row justify-content-center pt-5">
    <div class="card" style="width: 30rem;">
      <div class="card-header text-center">
        <h5 class="card-header ">User Details</h5>
        <img class="card-img-top" src="../../assets/image/images (1).png" alt="Card image cap" />
      </div>
      <div class="card-body">
        <h5 class="card-title">{{user?.name}}</h5>
        <p class="card-text">age: {{user?.age}}</p>
        <p class="card-text">add: {{user?.add}}</p>
        <p class="card-text">userName: {{user?.email}}</p>
        <p class="card-text">Password:{{user?.password}}</p>
        <a [routerLink]="['/']" class="btn btn-primary">Go Back</a>
      </div>
    </div>
  </div>